@using DigitalPreservation.Common.Model
@using DigitalPreservation.Common.Model.Transit
@using DigitalPreservation.Utils
@using Storage.Repository.Common
@model CombinedDirectoryRecursionWrapper

@{
    CombinedDirectory combinedDirectory = Model.CombinedDirectory;
    var depth = 0;
}

<!--

File is in the METS but not on disk
File is on disk but not in METS
File is in both

"File is in neither" should never happen!
... but could contribute to a files-to-be-deleted?

-->
@if (combinedDirectory.LocalPath.HasText())
{
    depth = combinedDirectory.LocalPath.Split('/').Length;
    string where = combinedDirectory.Whereabouts.ToString().ToLowerInvariant();
                   <tr class="deposit-row @("where-" + where)" 
        data-path="@combinedDirectory.LocalPath" data-type="directory" data-whereabouts="@combinedDirectory.Whereabouts">
        <td aria-label="select-row">
            @if (Model is { Editable: true, Active: true, LockedByOtherUser: false } && !FolderNames.PathIsKnownFirstLevelDirectory(combinedDirectory.LocalPath))
            {
                <input class="form-check-input item-selector item-directory" type="checkbox" 
                       value="@combinedDirectory.LocalPath" id="@("is-" + Model.RowCounter.Count)">
                <label class="form-check-label" for="@("is-" + Model.RowCounter.Count++)">@combinedDirectory.Whereabouts</label>
            }
        </td>
        <td class="dep-actions">
            @if (Model is { Editable: true, Active: true, LockedByOtherUser: false } && combinedDirectory.LocalPath != FolderNames.Metadata)
            {
                <a class="link-primary" role="button" data-bs-toggle="modal" data-bs-target="#newFolderModal" aria-label="new folder">
                    <svg class="bi"><use xlink:href="#folder-plus"/></svg>
                </a>
                <a class="link-primary" role="button" data-bs-toggle="modal" data-bs-target="#uploadFileModal" aria-label="upload file">
                    <svg class="bi"><use xlink:href="#file-earmark-arrow-up"/></svg>
                </a>
            }
        </td>
        <td style="padding-left: @(1.3 * depth)rem">
            <svg class="bi"><use xlink:href="#folder@(where == "deposit" ? "-plus" : "")"/></svg> <span title="@combinedDirectory.LocalPath" aria-label="name">@(combinedDirectory.Name ?? combinedDirectory.LocalPath.GetSlug())</span>
            @if (combinedDirectory.LocalPath == "objects")
            {
                <a class="link-primary" role="button" data-bs-toggle="modal" data-bs-target="#accessConditionsModal" aria-label="Set rights and access conditions">
                    <svg class="bi"><use xlink:href="#info-square"/></svg>
                </a>
                @if (Model.RootAccessRestrictions.Count > 0)
                {
                    <small>Access: <em><strong>@string.Join(", ", Model.RootAccessRestrictions)</strong></em></small>
                }
                @if (Model.RootRightsStatement != null)
                {
                    if (Model.RootAccessRestrictions.Count > 0)
                    {
                        <span>; </span>
                    }
                    <small>Rights: <em><strong>@RightsStatement.GetShortLabel(Model.RootRightsStatement)</strong></em></small>
                }
            }
        </td>
        <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>
}
@foreach (var dir in combinedDirectory.Directories)
{
    var wrapper = new CombinedDirectoryRecursionWrapper(
        dir, Model.MetsPath, Model.Editable, Model.Active, Model.LockedByOtherUser, 
        Model.RootAccessRestrictions, Model.RootRightsStatement,
        Model.RowCounter);
    @await Html.PartialAsync("_RenderCombinedDirectoryAsTableRows", wrapper)
}
@foreach (var file in combinedDirectory.Files)
{
    if (file.LocalPath?.GetSlug() == IStorage.DepositFileSystem)
    {
        continue; // this file is hidden
    }
    string where = file.Whereabouts.ToString().ToLowerInvariant();
    <tr class="deposit-row @("where-" + where)" 
        data-path="@file.LocalPath" data-type="file" data-whereabouts="@file.Whereabouts">
        <td aria-label="select-row">
            @if (Model is { Editable: true, Active: true, LockedByOtherUser: false } && file.LocalPath != "mets.xml")
            {
                <input class="form-check-input item-selector item-file" type="checkbox" 
                       value="@file.LocalPath" id="@("is-" + Model.RowCounter.Count)">
                <label class="form-check-label" for="@("is-" + Model.RowCounter.Count++)">@file.Whereabouts</label>
            }
        </td>
        <td class="dep-actions">
        </td>
        <td style="padding-left: @(1.3 * (depth + 1))rem">
            <svg class="bi"><use xlink:href="#file-earmark@(where != "mets" ? "-plus" : "-text")"/></svg>
            <span aria-label="name" title="@file.LocalPath">
                @if (file.LocalPath.HasText() && file.LocalPath == Model.MetsPath)
                {
                    <a target="_blank" href="@(Context.Request.Path + "/mets")"><strong>@Model.MetsPath.GetSlug()</strong></a>
                }
                else
                {
                    @(file.GetName() ?? "{{ NO LOCALPATH }}")
                }
            </span>
        </td>
        @{
            var contentType = file.GetSingleContentType();
            var contentTypeDisplay = contentType;
            if (contentType is { Length: > 22 })
            {
                contentTypeDisplay = contentType[..22] + "...";
            }
            var virusMetadata = file.GetVirusMetadata();
        }
        <td aria-label="hash">@file.GetSingleDigest()?[..8]</td>
        <td aria-label="file-size">@StringUtils.FormatFileSize(file.GetSingleSize(), withSpace: true, fallbackIfNull: " - ")</td>
        <td aria-label="content-type">
            @if (contentTypeDisplay != contentType)
            {
                <span title="@contentType">@contentTypeDisplay</span>
            }
            else
            {
                @contentType
            }
        </td>
        <td aria-label="pronom" title="@(file.GetCachedDepositFileFormatMetadata()?.FormatName ?? "(no PRONOM format")">@(file.GetCachedDepositFileFormatMetadata()?.PronomKey ?? "-")</td>
        <td aria-label="virus">@virusMetadata?.GetDisplay()</td>
    </tr>
} 
