@using DigitalPreservation.Common.Model
@using DigitalPreservation.Utils
@model DigitalPreservation.Common.Model.Import.ImportJob


<dl class="row job-table" aria-label="Import Job">

    <dt class="col-sm-3">Deposit</dt>
    <dd class="col-sm-9" aria-label="deposit"><a href="/deposits/@Model.Deposit!.GetSlug()">@Model.Deposit!.GetSlug()</a></dd>
    <dt class="col-sm-3">Archival Group</dt>
    <dd class="col-sm-9" aria-label="archival group">
        @if (Model.IsUpdate)
        {
            <a href="/browse/@Model.ArchivalGroup.GetPathUnderRoot()">@Model.ArchivalGroup.GetPathUnderRoot(true)</a>
        }
        else
        {
            <span><svg class="bi"><use xlink:href="#file-arrow-up"/></svg></span> @Model.ArchivalGroup.GetPathUnderRoot(true)
        }
    </dd>
    <dt class="col-sm-3">Archival Group Name</dt>
    <dd class="col-sm-9" aria-label="archival group name">@Model.ArchivalGroupName</dd>

    <dt class="col-sm-3">Source Version</dt>
    <dd class="col-sm-9" aria-label="source version">@(Model.SourceVersion?.OcflVersion ?? "(none)")</dd>
    
    <dt class="col-sm-3">Containers to Add</dt>
    <dd class="col-sm-9" aria-label="containers to add">
        <ul class="list-unstyled">
            @foreach (var container in Model.ContainersToAdd)
            {
                <li>
                    <svg class="bi"><use xlink:href="#folder"/></svg> @container.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Binaries to Add</dt>
    <dd class="col-sm-9" aria-label="binaries to add">
        <ul class="list-unstyled">
            @foreach (var binary in Model.BinariesToAdd)
            {
                <li>
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> @binary.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Binaries to Patch</dt>
    <dd class="col-sm-9" aria-label="binaries to patch">
        <ul class="list-unstyled">
            @foreach (var binary in Model.BinariesToPatch)
            {
                <li>
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> @binary.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Containers to Delete</dt>
    <dd class="col-sm-9" aria-label="containers to delete">
        <ul class="list-unstyled">
            @foreach (var container in Model.ContainersToDelete)
            {
                <li>
                    <svg class="bi"><use xlink:href="#folder"/></svg> @container.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Binaries to Delete</dt>
    <dd class="col-sm-9" aria-label="binaries to delete">
        <ul class="list-unstyled">
            @foreach (var binary in Model.BinariesToDelete)
            {
                <li>
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> @binary.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Containers to Rename</dt>
    <dd class="col-sm-9" aria-label="containers to rename">
        <ul class="list-unstyled">
            @foreach (var container in Model.ContainersToRename)
            {
                <li>
                    <svg class="bi"><use xlink:href="#folder"/></svg> @container.Id.GetPathUnderRoot(true)
                </li>
            }
        </ul>
    </dd>
    <dt class="col-sm-3">Binaries to Rename</dt>
    <dd class="col-sm-9" aria-label="binaries to rename">
        <ul class="list-unstyled">
            @foreach (var binary in Model.BinariesToRename)
            {
                <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> @binary.Id.GetPathUnderRoot(true)
            }
        </ul>
    </dd>
</dl>