@using DigitalPreservation.Utils
@model DigitalPreservation.Common.Model.Transit.WorkingDirectory

@{
    var depth = 0;
}
@if (Model.LocalPath.HasText())
{
    depth = Model.LocalPath.Split('/').Length;
    <tr class="deposit-row" data-path="@Model.LocalPath" data-type="directory">
        <td style="padding-left: @(1.3 * depth)rem">
            <svg class="bi"><use xlink:href="#folder"/></svg> <span aria-label="slug">@Model.GetSlug()</span>
        </td>
        <td aria-label="name">@Model.Name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
}
@foreach (var dir in Model.Directories)
{
    @await Html.PartialAsync("_RenderDirectoryAsTableRows", dir)
}
@foreach (var file in Model.Files)
{
    <tr class="deposit-row" data-path="@file.LocalPath" data-type="file">
        <td style="padding-left: @(1.3 * (depth + 1))rem">
            <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> <span aria-label="slug">@file.GetSlug()</span>
        </td>
        <td aria-label="name">@file.Name</td>
        <td aria-label="hash">@file.Digest?[..8]</td>
        <td aria-label="file-size">@StringUtils.FormatFileSize(file.Size, withSpace:true, fallbackIfNull:" - ")</td>
        <td aria-label="content-type">@file.ContentType</td>
    </tr>
} 
