@page "/deposits/{id}"
@using DigitalPreservation.Common.Model
@using DigitalPreservation.Common.Model.PreservationApi
@using DigitalPreservation.UI.Features
@using DigitalPreservation.Utils
@model DepositModel

@functions {
    private bool CanBeWorkedOn()
    {
        return Model.Deposit is { Active: true } && Model.Deposit.Status != DepositStates.Exporting;
    }
}
@{
ViewData["Title"] = "Deposit " + (Model.Deposit?.ArchivalGroupName ?? Model.Deposit?.ArchivalGroup?.ToString() ?? Model.Deposit?.Id?.GetSlug() ?? Model.Id);
ViewData["section"] = "deposits";
ViewData["active"] = Model.Deposit?.Active;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        @if (Model.Bound)
        {
            <button @(Model.Deposit!.Active ? "" : " disabled=disabled") type="submit" form="collapseAgDetails" class="btn btn-sm btn-outline-primary me-2">
                <svg class="bi"><use xlink:href="#floppy"/></svg><span class="ms-2">Update properties</span>
            </button>
            <form class="single-submit" method="post">
                <button type="submit" asp-page-handler="ValidateStorage" class="btn btn-sm btn-outline-primary me-2">
                    <svg class="bi"><use xlink:href="#check-square"/></svg><span class="ms-2">Validate storage</span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteDepositModal">
                    <svg class="bi"><use xlink:href="#trash"/></svg><span class="ms-2">Delete Deposit</span>
                </button>
            </form>
        }
    </div>
</div>

<div>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@Html.Raw(TempData["Error"])</p>
        </div>
    }
    @if (TempData["Deleted"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@Html.Raw(TempData["Deleted"])</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    @if (TempData["Updated"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@Html.Raw(TempData["Updated"])</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    @if (TempData["Valid"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@Html.Raw(TempData["Valid"])</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
 </div>

@if(Model.Deposit != null)
{
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">

                <form method="post" asp-page-handler="UpdateProperties" class="single-submit collapse show" id="collapseAgDetails">
                    <fieldset style="display: contents" @(CanBeWorkedOn() ? "" : " disabled=disabled")>

                        @if (Model.Deposit.ArchivalGroupExists)
                        {
                            <p>Archival group: <a href="/browse/@Model.Deposit.ArchivalGroup.GetPathUnderRoot()">@Model.Deposit.ArchivalGroup.GetPathUnderRoot()</a>
                            
                            <a href="#agEdit" class="ms-3 btn btn-sm btn-outline-primary" role="button" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="agEdit">
                                Edit
                            </a></p>
                            <div class="form-floating mb-3 collapse" id="agEdit">
                                <input type="text" class="form-control" id="agPathUnderRoot" name="agPathUnderRoot" value="@Model.Deposit.ArchivalGroup.GetPathUnderRoot()" placeholder="(URI not set)">
                                <label for="agPathUnderRoot">Archival Group</label>
                            </div> 
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="agPathUnderRoot" name="agPathUnderRoot" value="@Model.Deposit.ArchivalGroup.GetPathUnderRoot()" placeholder="(URI not set)">
                                <label for="agPathUnderRoot">Archival Group</label>
                            </div>
                        }
                        <div class="form-floating mb-3">
                            @* If this already exists, then this form element changes to read only display *@
                            <input type="text" class="form-control" id="agName" name="agName" value="@Model.Deposit.ArchivalGroupName" placeholder="(Name of Archival Group)">
                            <label for="agName">Archival Group Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="submissionText" name="submissionText" placeholder="A note for this particular deposit">@Model.Deposit.SubmissionText</textarea>
                            <label for="submissionText">Deposit Note</label>
                        </div>
                        <div class="mb-3">
                        </div>
                    </fieldset>
                </form>
                
                
                @if (Model.Deposit.Status != DepositStates.Exporting)
                {                
                    @if (Model.Files is not null)
                    {
                        <div class="table-responsive small">
                            <table class="table table-hover table-striped table-sm plain-link-table deposit-table" aria-label="table-deposit-files">
                                <thead>
                                <tr>
                                    <th scope="col" class="dep-actions"></th>
                                    <th scope="col">Path</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Hash</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Type</th>
                                    <th scope="col" class="dep-actions"></th>
                                </tr>
                                </thead>
                                <tbody>
                                @await Html.PartialAsync("_RenderDirectoryAsTableRows", Model.Files)
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>No files have been uploaded yet.</p>
                    }
                }
                @if (Model.Deposit.Status == DepositStates.Exporting)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>The server is currently exporting files into this Deposit.</p>
                    </div>
                }

                
                <hr/>
                
                
                <h3>Import Jobs</h3>

                <div class="mb-3">

                    @if (Model.Deposit.ArchivalGroup == null)
                    {
                        <p aria-label="import job message">No jobs can be run as this deposit does not have an archival group specified.</p>
                    }
                    else if (!Model.Deposit.Active)
                    {
                        <p aria-label="import job message">No jobs can be run as this deposit is no longer active.</p>
                    }
                    else if (!Model.Deposit.ArchivalGroupExists && !Model.HasValidFiles())
                    {
                        <p aria-label="import job message">No jobs can be run as there are no valid files in the Deposit.</p>
                    }
                    else if (Model.Deposit.Status == DepositStates.Exporting)
                    {
                        <p aria-label="import job message">No jobs can be run as the Deposit status is currently 'Exporting'.</p>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-primary me-2" role="button" href="/deposits/@Model.Id/importjobs/diff">
                            <svg class="bi"><use xlink:href="#file-arrow-up"/></svg><span class="ms-2">Create diff import job</span>
                        </a>
                        <a class="btn btn-sm btn-primary me-2 disabled" role="button" aria-disabled="true">
                            <svg class="bi"><use xlink:href="#file-diff"/></svg><span class="ms-2">Create custom import job</span>
                        </a>
                    }
                </div>
                    
                
                @if (Model.ImportJobResults.Count == 0)
                {
                    <p>There are no submitted import jobs for this Deposit.</p>
                }
                else
                {
                    
                    <div class="table-responsive small">
                        <table class="table table-hover table-striped table-sm plain-link-table" aria-label="table-deposit-import-jobs">
                            <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Who</th>
                                <th scope="col">Begun</th>
                                <th scope="col">Finished</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Errors</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var result in Model.ImportJobResults)
                            {
                                <tr>
                                    <td><a href="@($"/deposits/{Model.Id}/importjobs/{result.Id!.GetSlug()}")">@result.Status</a></td>
                                    <td>@result.CreatedBy?.GetSlug()</td>
                                    <td>@result.DateBegun.GetDateDisplay()</td>
                                    <td>@result.DateFinished.GetDateDisplay()</td>
                                    <td>@result.SourceVersion</td>
                                    <td>@result.NewVersion</td>
                                    <td class="text-danger">
                                        @{
                                            if (result.Errors != null && result.Errors.Any())
                                            {
                                                foreach (var line in result.Errors.Select(e => e.Message))
                                                {
                                                    <p>@line</p>
                                                }
                                            }
                                        }</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                

            </div>
            
            @* START OF SIDE INFO PANEL *@
            
            <div class="col-2">
                <dl arial-label="deposit-history">
                    <dt>Created</dt>
                    <dd aria-label="created">@Model.Deposit.Created.GetDateDisplay()</dd>
                    <dt>Created by</dt>
                    <dd aria-label="created-by"><agent-link uri="@Model.Deposit.CreatedBy"></agent-link></dd>
                    <dt>Last modified</dt>
                    <dd aria-label="last-modified">@Model.Deposit.LastModified.GetDateDisplay()</dd>
                    <dt>Last modified by</dt>
                    <dd aria-label="last-modified-by"><agent-link uri="@Model.Deposit.LastModifiedBy"></agent-link></dd>
                    <dt>Preserved</dt>
                    <dd aria-label="preserved">@Model.Deposit.Preserved.GetDateDisplay("-")</dd>
                    <dt>Preserved by</dt>
                    <dd aria-label="preserved-by"><agent-link uri="@Model.Deposit.PreservedBy"></agent-link></dd>
                    <dt>Version preserved</dt>
                    <dd aria-label="version-preserved">@(Model.Deposit.VersionPreserved ?? "-")</dd>
                    <dt>Exported</dt>
                    <dd aria-label="exported">@Model.Deposit.Exported.GetDateDisplay("-")</dd>
                    <dt>Exported by</dt>
                    <dd aria-label="exported-by"><agent-link uri="@Model.Deposit.ExportedBy"></agent-link></dd>
                    <dt>Version exported</dt>
                    <dd aria-label="version-exported">@(Model.Deposit.VersionExported ?? "-")</dd>
                </dl>
            </div>
        </div>
    </div>
    
    
}

<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="single-submit" method="post" enctype="multipart/form-data" asp-page-handler="UploadFile">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="uploadFileModalLabel"><svg class="bi"><use xlink:href="#file-earmark-arrow-up"/></svg><span class="ms-2">Upload file</span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="depositFile" class="form-label">Choose a file to upload</label>
                        <input type="file" class="form-control" id="depositFile" name="depositFile" aria-describedby="fileHelp">
                        <div id="fileHelp" class="form-text">Checksum will be calculated locally and after upload.</div>
                    </div>
                    <div class="mb-3">
                        <label for="checksum" class="form-label">Checksum</label>
                        <input readonly="readonly" type="text" class="form-control" id="checksum" name="checksum">
                    </div>
                    <div class="mb-3">
                        <label for="depositFileName" class="form-label">File name</label>
                        <input type="text" class="form-control" id="depositFileName" name="depositFileName" aria-describedby="depositFileNameHelp">
                        <div id="depositFileNameHelp" class="form-text">Use this to modify the stored file name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="depositFileContentType" class="form-label">Content type</label>
                        <input type="text" class="form-control" id="depositFileContentType" name="depositFileContentType" aria-describedby="depositFileContentTypeHelp">
                        <div id="depositFileContentTypeHelp" class="form-text">(Also known as MIME type)</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="newFileContext" name="newFileContext">
                    <input type="hidden" id="newFileContextIsFile" name="contextIsFile">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><svg class="bi"><use xlink:href="#file-earmark-arrow-up"/></svg><span class="ms-2">Upload file</span></button>
                </div>
            </form>
            
        </div>
    </div>
</div>



<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <form class="single-submit" method="post" asp-page-handler="CreateFolder">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newFolderModalLabel"><svg class="bi"><use xlink:href="#folder-plus"/></svg><span class="ms-2">New Folder</span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="newFolderName" class="form-label">New folder</label>
                        <input type="text" class="form-control" id="newFolderName" name="newFolderName" aria-describedby="newFolderNameHelp">
                        <div id="newFolderNameHelp" class="form-text">Create a new folder in the digital object</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="newFolderContext" name="newFolderContext">
                    <input type="hidden" id="newFolderContextIsFile" name="contextIsFile">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><svg class="bi"><use xlink:href="#folder-plus"/></svg><span class="ms-2">Create new folder</span></button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="single-submit" method="post" asp-page-handler="DeleteItem">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteItemModalLabel"><svg class="bi"><use xlink:href="#trash"/></svg><span class="ms-2">Delete</span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div id="deleteItemHelp" class="form-text">(nothing selected)</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="deleteContext" name="deleteContext">
                    <input type="hidden" id="deleteContextIsFile" name="deleteContextIsFile">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="deleteButton" disabled="disabled"><svg class="bi"><use xlink:href="#trash"/></svg><span class="ms-2">Delete</span></button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteDepositModal" tabindex="-1" aria-labelledby="deleteDepositModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="single-submit" method="post" asp-page-handler="DeleteDeposit">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteDepositModalLabel"><svg class="bi"><use xlink:href="#trash"/></svg><span class="ms-2">Delete Deposit</span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div id="deleteDepositHelp" class="form-text">Clicking Delete below will delete this Deposit completely.</div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="confirmDepositDelete">
                            <label class="form-check-label" for="confirmDepositDelete">
                                Tick here to confirm delete
                            </label>
                            <div class="form-text">(It has no effect on an already-preserved Archival Group.)</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="deleteDepositButton" disabled="disabled"><svg class="bi"><use xlink:href="#trash"/></svg><span class="ms-2">Delete Deposit</span></button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const rows = document.getElementsByClassName("deposit-row");

    const newFolderContext = document.getElementById("newFolderContext");
    const newFolderContextIsFile = document.getElementById("newFolderContextIsFile");
    const newFileContext = document.getElementById("newFileContext");
    const newFileContextIsFile = document.getElementById("newFileContextIsFile");
    const deleteContext = document.getElementById("deleteContext");
    const deleteContextIsFile = document.getElementById("deleteContextIsFile");
    const deleteItemHelp = document.getElementById("deleteItemHelp");
    const deleteButton = document.getElementById("deleteButton");
    const deleteDepositButton = document.getElementById("deleteDepositButton");
    const confirmDepositDelete = document.getElementById("confirmDepositDelete");


    document.getElementById("deleteDepositModal").addEventListener("show.bs.modal", () => {
        confirmDepositDelete.checked = false;
        deleteDepositButton.disabled = "disabled";
    });
    
    confirmDepositDelete.addEventListener("change", () => {
        if (confirmDepositDelete.checked){
            deleteDepositButton.removeAttribute("disabled");
        } else {
            deleteDepositButton.disabled = "disabled";
        }
    });
    
    let clicked = false;
    for (const row of rows) {
        const path = row.getAttribute("data-path");
        if (!(path === "objects" || path.startsWith("objects/")))
        {
            continue;
        }
        row.addEventListener('click', (event) => {
            const row = event.currentTarget;

            const path = row.getAttribute("data-path");
            const isFile = row.getAttribute("data-type") === "file";
            newFileContext.value = path;
            newFolderContext.value = path;
            newFolderContextIsFile.value = isFile;
            newFileContextIsFile.value = isFile;
            deleteContext.value = path;
            deleteContextIsFile.value = isFile;
            deleteItemHelp.innerHTML = `You are about to delete the ${isFile ? "file" : "folder"}<br/><strong>${path}</strong>.`;
            deleteButton.removeAttribute("disabled");
            
            if (row.classList.contains("table-active")){
                for (const r of rows) { r.classList.remove("table-active"); }
                clicked = false;
            } else {
                for (const r of rows) { r.classList.remove("table-active"); }
                row.classList.add("table-active");
                clicked = true;
            }
        });
    }

</script>

<script>
    const fileSelector = document.getElementById('depositFile');
    const checksum = document.getElementById('checksum');
    const fileName = document.getElementById('depositFileName');
    const fileContentType = document.getElementById('depositFileContentType');

    fileSelector.addEventListener('change', () => {
        hashFile();
        fileName.value = fileSelector.files[0].name;
        fileContentType.value = fileSelector.files[0].type;
    });
    
    function hashFile() {
      readBinaryFile(fileSelector.files[0])
        .then(function (result) {
          result = new Uint8Array(result);
          return window.crypto.subtle.digest("SHA-256", result);
        })
        .then(function (result) {
          result = new Uint8Array(result);
          checksum.value = Uint8ArrayToHexString(result);
        });
    }

    function readBinaryFile(file) {
      return new Promise((resolve) => {
        const fr = new FileReader();
        fr.onload = () => {
          resolve(fr.result);
        };
        fr.readAsArrayBuffer(file);
      });
    }

    function Uint8ArrayToHexString(ui8array) {
      let hexString = "",
        h;
      for (let i = 0; i < ui8array.length; i++) {
        h = ui8array[i].toString(16);
        if (h.length === 1) {
          h = "0" + h;
        }
          hexString += h;
      }
      const p = Math.pow(2, Math.ceil(Math.log2(hexString.length)));
        hexString = hexString.padStart(p, "0");
      return hexString;
    }
  

</script>

@if (TempData["Context"] != null)
{
    <script>
        const contextRow = document.querySelectorAll('[data-path="@TempData["Context"]"]');
        contextRow[0].click();
    </script>
}
