@page "/deposits"
@using DigitalPreservation.Common.Model
@using DigitalPreservation.UI.Features
@using DigitalPreservation.Utils
@model IndexModel
@{
ViewData["Title"] = "Deposits";
ViewData["section"] = "deposits";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#newDepositModal">
            <svg class="bi"><use xlink:href="#box-seam"/></svg><span class="ms-2">New Deposit</span>
        </button>
    </div>
</div>


<div class="table-responsive small">
    <table class="table table-striped table-sm plain-link-table" aria-label="table-deposits-index">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Archival Group</th>
            <th scope="col">Status</th>
            <th scope="col">Last Modified</th>
            <th scope="col">By</th>
            <th scope="col">Created</th>
            <th scope="col">By</th>
            <th scope="col">Preserved</th>
            <th scope="col">By</th>
            <th scope="col">Exported</th>
            <th scope="col">By</th>
        </tr>
        </thead>
        <tbody>
        @{
            int counter = 1;
        }
        @foreach (var deposit in Model.Deposits)
        {
            var slug = deposit.Id!.GetSlug();
            var agPath = deposit.ArchivalGroup?.GetPathUnderRoot();
            var path = "/deposits/" + slug;
            var agDisplay = " - ";
            if (deposit.ArchivalGroupName.HasText())
            {
                agDisplay = deposit.ArchivalGroupName;
                if (agPath != null)
                {
                    agDisplay += "<br/><small>" + agPath + "</small>";
                }
            }
            else if (agPath != null)
            {
                agDisplay = agPath;
            }

            <tr aria-label="row-@(counter++)">
                <td aria-label="td-id"><b><a href="@path">@slug</a></b></td>
                <td aria-label="td-archival-group">
                    @if (deposit.VersionPreserved.HasText())
                    {
                        // Just because we have an AG URI doesn't mean it exists; it might not have been preserved yet 
                        <a href="/browse/@agPath">@Html.Raw(agDisplay)</a>
                    }
                    else
                    {
                        @Html.Raw(agDisplay)
                    }
                </td>
                <td aria-label="td-status">@deposit.Status</td>
                <td aria-label="td-last-modified">@deposit.LastModified.GetDateDisplay()</td>
                <td aria-label="td-last-modified-by">@deposit.LastModifiedBy?.GetSlug()</td>
                <td aria-label="td-created">@deposit.Created.GetDateDisplay()</td>
                <td aria-label="td-created-by">@deposit.CreatedBy?.GetSlug()</td>
                <td aria-label="td-preserved">@deposit.Preserved.GetDateDisplay()</td>
                <td aria-label="td-preserved-by">@deposit.PreservedBy?.GetSlug()</td>
                <td aria-label="td-exported">@deposit.Exported.GetDateDisplay()</td>
                <td aria-label="td-exported-by">@deposit.ExportedBy?.GetSlug()</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<partial name="Shared/_NewDepositForm"/>
