@using DigitalPreservation.Common.Model.Transit.Extensions.Metadata
@using DigitalPreservation.Utils

@model (DigitalPreservation.Common.Model.Binary?, DigitalPreservation.Common.Model.Transit.WorkingFile?) 

@{
    var binary = Model.Item1;
    var workingFile = Model.Item2;
    var fileformatMetadata = Model.Item2?.GetFileFormatMetadata();
    var virusScanMetadata = Model.Item2?.GetVirusScanMetadata();
    var exifMetadata = Model.Item2?.GetExifMetadata();
    IDictionary<string, string>? fileFormatDict = null;
    IDictionary<string, string>? virusDict = null;

    if (fileformatMetadata != null)
        fileFormatDict = CollectionUtils.GetValues(fileformatMetadata);

    if(virusScanMetadata != null)
        virusDict = CollectionUtils.GetValues(virusScanMetadata);

    var toolsRun = fileformatMetadata?.PronomKey?.ToLower() != "unknown" && !string.IsNullOrEmpty(fileformatMetadata?.FormatName);
}

<table class="table small table-striped" aria-label="table-core">
    <tr>
        <th scope="row">Name</th>
        <td>
            @if (binary != null)
            {
                <text>@binary.Name</text>
                @if (binary.Name != binary.GetSlug())
                {
                    <br/><small>@binary.GetSlug()</small>
                }
            } 
            else if (workingFile != null)
            {
                <text>@workingFile.Name</text>
                @if (workingFile.Name != workingFile.GetSlug())
                {
                    <br/><small>@workingFile.GetSlug()</small>
                }
            }
            else
            {
                <text>No Binary or WorkingFile</text>
            }
        </td>
    </tr>
    @if (workingFile != null)
    {
        <tr>
            <th scope="row">Path</th>
            <td>@workingFile.LocalPath</td>
        </tr>
    }
    @if (binary != null)
    {
        <tr>
            <th scope="row">Content type</th>
            <td>@binary.ContentType</td>
        </tr>
    }

    @if (workingFile != null)
    {
        var premisFromMets = workingFile.Metadata.OfType<FileFormatMetadata>().SingleOrDefault();
        var virusFromMets = workingFile.Metadata.OfType<VirusScanMetadata>().SingleOrDefault();
        
        <tr>
            <th scope="row">File format</th>
            <td>@premisFromMets?.GetDisplay()</td>
        </tr>
        <tr>
            <th scope="row">Virus scan</th>
            <td>@virusFromMets?.GetDisplay()</td>
        </tr>
    }
    <tr>
        <th scope="row">Size</th>
        <td>@StringUtils.FormatFileSize((binary?.Size ?? workingFile?.Size) ?? 0, withSpace:true)</td>
    </tr>
    <tr>
        <th scope="row">Digest</th>
        <td>@((binary?.Digest ?? workingFile?.Digest) ?? "")
            @if (binary?.Digest.HasText() is true && workingFile?.Digest.HasText() is true)
            {
                if (binary.Digest != workingFile.Digest)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>
                            Binary Digest @binary.Digest <br/>
                            does not match workingFile Digest @workingFile.Digest
                        </p>
                    </div>
                }
            }
        </td>
    </tr>
    @if (binary != null)
    {
        <tr>
            <th scope="row">Content</th>
            <td>🚫 <a href="@binary.Content">Binary content (Storage API)</a></td>
        </tr>
    }


</table>

@if (workingFile != null && toolsRun)
{
    @if ((fileFormatDict != null && fileFormatDict.Any()) || (virusDict != null && virusDict.Any()) || exifMetadata is { Tags: not null })
    {
        <div>
            <h3>Metadata</h3>
        </div>
    }
}


@if (workingFile != null && toolsRun)
{
    @if (fileFormatDict != null && fileFormatDict.Any())
    {
        <div>
            <h4>File format</h4>
            <table class="table small" style="width: 30%;" aria-label="table-file-format">
                <tr>
                    @foreach (var fileFormatMetadata in fileFormatDict)
                    {
                        if ((fileFormatMetadata.Key.ToLower() == "contenttype" || fileFormatMetadata.Key.ToLower() == "size") && string.IsNullOrEmpty(fileFormatMetadata.Value) && binary != null)
                        {

                            <tr>
                                <th scope="row">@fileFormatMetadata.Key</th>
                                <td>@(fileFormatMetadata.Key.ToLower() == "contenttype" ? binary.ContentType : binary.Size)</td>
                            </tr>
                            continue;
                        }

                        if (fileFormatMetadata.Key.ToLower() == "timestamp" && binary != null)
                        {
                            <tr>
                                <th scope="row">@fileFormatMetadata.Key</th>
                                <td>@binary.Created</td>
                            </tr>
                            continue;
                        }

                        <tr>
                            <th scope="row">@fileFormatMetadata.Key</th>
                            <td>@fileFormatMetadata.Value</td>
                        </tr>
                    }
                </tr>
            </table>
        </div>
    }
}

@if (workingFile != null)
{
    @if (virusDict != null && virusDict.Any() && virusScanMetadata?.Source.ToLower() == "clamav")
    {
        <div>
            <h4>Viruses</h4>
            <table class="table small" style="width: 30%;" aria-label="table-virus">
                <tr>
                    @foreach (var virusMetadata in virusDict)
                    {
                        <tr>
                            <th scope="row">@virusMetadata.Key</th>
                            <td>@virusMetadata.Value</td>
                        </tr>
                    }
                </tr>
            </table>
        </div>
    }
}

@if (workingFile != null)
{
    @if (exifMetadata is { Tags: not null })
    {
        <div>
            <h4>Exif</h4>
            <table class="table small" style="width: 30%;" aria-label="table-exif">
                <tr>
                    @foreach (var exifPair in exifMetadata.Tags.Where(x => x.TagName?.ToLower() != "rawoutput"))
                    {
                        <tr>
                            <th scope="row">@exifPair.TagName</th>
                            <td>@exifPair.TagValue</td>
                        </tr>
                    }
                </tr>
            </table>
        </div>
    }
}



