@using Microsoft.Identity.Web

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="~/js/color-modes.js" asp-append-version="true"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> *@
    <title>@ViewData["Title"] - DLIP UI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@docsearch/css@@3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DigitalPreservation.UI.styles.css" asp-append-version="true"/>
    <meta name="theme-color" content="#712cf9">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

<partial name="_CommonSvg"/>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
</div>

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" asp-page="/Index">Digital Preservation
        @if (User.Identity!.IsAuthenticated)
        {
            <br/>@User.Claims.FirstOrDefault(x => x.Type == "name")?.Value
        }</a>
    

    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
                <svg class="bi"><use xlink:href="#search"/></svg>
            </button>
        </li>
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="bi"><use xlink:href="#list"/></svg>
            </button>
        </li>
    </ul>
    
    @{

        if (!Context.Request.Path.StartsWithSegments("/Search"))
        {
                <form asp-page="/Search" method="get" class="form-search">
                <div id="navbarSearch" class="navbar-search w-100 collapse.show"> @* collapse *@
                    <input name="text" class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria - label="Search">
                </div >
            </form>
        }
    }

    <span class="px-2 py-2" href="/"><img src="/img/uol-logo.svg" style="height:90%" alt="University of Leeds logo"></span>
    
</header>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <dlip-nav-link href="/" label="Dashboard" icon-id="house" active-icon-id="house-fill" section="home" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            <dlip-nav-link href="/browse" label="Browse" icon-id="folder" active-icon-id="folder-fill" section="browse" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            <dlip-nav-link href="/deposits" label="Deposits" icon-id="box-seam" active-icon-id="box-seam-fill" section="deposits" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            <dlip-nav-link href="/reports" label="Reports" icon-id="graph-up" active-icon-id="graph-up-arrow" section="reports" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            <dlip-nav-link href="/integrations" label="Integrations" icon-id="puzzle" active-icon-id="puzzle-fill" section="integrations" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            <dlip-nav-link href="/search" label="Search" icon-id="search" active-icon-id="search" section="search" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                        <span>Saved reports</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <svg class="bi"><use xlink:href="#plus-circle"/></svg>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="#">
                                <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="#">
                                <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                                Last quarter
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <dlip-nav-link href="/status" label="Settings" icon-id="gear" active-icon-id="gear-fill" section="status" active-section="@ViewData["section"]"></dlip-nav-link>
                        </li>
                        <li class="nav-item">
                            
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <dlip-nav-link href="/Account/SignedOut"  tooltip="For this user and all apps for this browsers " label="Sign out" icon-id="door-closed" active-icon-id="door-closed" section="signout"></dlip-nav-link>
                        }
                        else
                        {
                            <dlip-nav-link href="/signin-oidc" label="Sign In" icon-id="door-open" active-icon-id="door-open" section="signout" active-section="@ViewData["section"]" ></dlip-nav-link>
                        }
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- START RenderBody -->
            @RenderBody()
            <!-- END   RenderBody -->
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>





